@import url("https://fonts.googleapis.com/css?family=Mukta:700");
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}
 body {
	 background: url(https://i.pinimg.com/originals/83/6c/c0/836cc0950f630aa6ec7f4481ebfdcea7.gif) center center / cover;
	 background-attachment: fixed;
	 color: #282936;
	 font-family: "Mukta", sans-serif;
	 font-size: 1rem;
	 line-height: 1.5;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 0;
	 min-height: 100vh;
}
#container {
	background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0 30px 0 50px;
	 font-size: inherit;
	 font-family: inherit;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 margin: 0;
	 left: 0;
	 width: 2.5rem;
	 height: 2.5rem;
	 border-radius: 1.625rem;
	 border-color: inherit;
	 top: 50%;
	 transform: translate3d(0, -50%, 0);
	 background: #fff;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #282936;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.375rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
	 border-color: inherit;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: "";
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #282936;
	 border-right: 0.125rem solid #282936;
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 line-height: 1;
	 text-align: center;
	 color: #fff;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #282936;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #282936;
}

p {
	color: #fff;
	font-size: 1.2em;
}

a {
	text-decoration: none;
}

 @supports (display: grid) {
	 body {
		 display: grid;
		 grid-template-columns: repeat(4, 1fr);
		 grid-gap: 0.625rem;
		 grid-template-areas: ". main main ." ". main main .";
	}
	 #container {
		 grid-area: main;
		 align-self: center;
		 justify-self: center;
		 text-align: center;
	text-shadow: 2px 2px 2px #000;

	}
}

 
