/* * * * * General CSS * * * * */
@font-face {
  font-family: "Bad-mofo";
  src: url("../assets/fonts/BadMofo.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: #3a3a3a;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  background: rgb(34, 34, 34);
  box-shadow: 0 0 5px #2c2c2c;
}

.credit {
  position: relative;
  margin: 25px auto 0 auto;
  width: 100%;
  text-align: center;
  color: rgba(26, 173, 231);
  font-size: 16px;
  font-weight: 400;
}

.credit a {
  color: rgba(26, 173, 231);
  font-size: 16px;
  font-weight: 600;
}

.col-left,
.col-right {
  padding: 30px;
  display: flex;
}

.col-left {
  width: 60%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: rgba(26, 173, 231);
}

.col-right {
  padding: 60px 30px;
  width: 50%;
  margin-left: -10%;
}

@media (max-width: 575.98px) {
  .container {
    flex-direction: column;
    box-shadow: none;
  }

  .col-left,
  .col-right {
    width: 100%;
    margin: 0;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .col-right {
    padding: 30px;
  }
}

.login-text {
  font-family: "Bad-mofo";
  position: relative;
  width: 100%;
  color: #ffffff;
}

.login-text h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}

.login-text p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.login-text .btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: rgba(26, 173, 231);
  outline: none;
  border: 1px solid rgba(26, 173, 231);
  box-shadow: inset 0 0 0 0 rgba(26, 173, 231);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.login-text .btn:hover {
  color: #2a3542;
  box-shadow: inset 150px 0 0 0 rgba(26, 173, 231);
}

.login-form {
  position: relative;
  width: 100%;
}

.login-form h2 {
  color: rgba(26, 173, 231);
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 700;
}

.login-form p {
  margin: 0 0 10px 0;
  text-align: left;
  color: white;
  font-size: 15px;
}

.login-form p:last-child {
  margin: 0;
  padding-top: 3px;
}

.login-form p a {
  color: rgba(26, 173, 231);
  font-size: 14px;
  text-decoration: none;
}

.login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

.login-form p:last-child label {
  width: 60%;
  float: left;
}

.login-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.login-form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.login-form input:focus {
  border-color: rgba(26, 173, 231);
}

.login-form button,
.login-form input[type="submit"] {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: rgba(26, 173, 231);
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(26, 173, 231);
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 rgba(26, 173, 231);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.login-form button:hover,
.login-form input[type="submit"]:hover {
  color: #ffffff;
  box-shadow: inset 250px 0 0 0 rgba(26, 173, 231);
}
